@import "../../styles/variaveis";

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: $fonte-principal;
    font-size: 16px;
    font-weight: 500;
    color: $cor-do-texto;
}