$fonte-principal: "Raleway";

$branco: #fffffF;
$azul: #2A7AE4;
$azul-claro: #EAF2FD;
$cinza: #F5F5F5;
$cor-do-texto: #464646;
$cinza-escuro: #A2A2A2;
$cinza-background: #E5E5E5;
$laranja: orange;