@import "../../styles/variaveis";

.categoria {
    background-color: $cinza-background;
    padding: 1em;

    h3 {
        font-family: $fonte-principal;
        color: $cor-do-texto;
        font-size: 32px;
        font-weight: 700;
        margin-left: 1em;
    }

    &__card {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}