@import "../../styles/variaveis";

.todososprodutos {
    padding: 3em 2em 3em 2em;
    background-color: $cinza-background;
    
    &__titulo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: $fonte-principal;
        margin-bottom: 1.5em;
    
        h1 {
            font-weight: 700;
            font-size: 32px;
            color: $cor-do-texto;
            margin-left: 0.6em;
        }
        button {
            margin-right: 1.5em;
        }
    }




    &__card {
        display: grid;
        grid-template-columns: 16% 16% 16% 16% 16% 16%;
        align-items: center;
        justify-content: space-around;
        list-style-type: none;
        margin: 0;
        padding: 0;
       
        
    }

}
